body {
	background: #7A98A4;
}

P {
	font-family:Comic Sans MS;

}

H1  {
	
	color: white
}

P  {
	color: white
}

img {	height:250px; width: 350px

}

ul  {	
	list-style-type: square;
}	

Ul  { 
	color: silver
}


